<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form action="/blog" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label">CoverImage</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title" placeholder="Enter blog title">
            </div>

            <div class="mb-3">
                <label for="content">Content</label>
                <textarea name="content" class="form-control" placeholder="Type Content here" id="content"></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>